.select :global(.ant-select-selector) {
  color: white;
  border: none !important;
  // background: var(
  //   --grey,
  //   linear-gradient(261deg, #4e4e4e 4.9%, #b1b1b1 82.8%)
  // ) !important;
  background: var(
    --grey,
    linear-gradient(83deg, #4e4e4e 1.3%, black 99.8%)
  ) !important;
  &:hover {
    background-color: #000;
  }
}

.select {
  height: 40px;
  border: none;
  border-color: #001529;
}

.select :global(.ant-select-arrow) {
  color: white;
}
